LCONF_VERSION = "6"
BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${TOPDIR}/../layers/poky/meta \
    ${TOPDIR}/../layers/poky/meta-yocto \
    ${TOPDIR}/../layers/meta-openembedded/meta-oe \
    ${TOPDIR}/../layers/meta-openembedded/meta-filesystems \
    ${TOPDIR}/../layers/meta-openembedded/meta-networking \
    ${TOPDIR}/../layers/meta-openembedded/meta-python \
    ${TOPDIR}/../layers/meta-xilinx \
    ${TOPDIR}/../layers/meta-balena/meta-balena-common \
    ${TOPDIR}/../layers/meta-balena/meta-balena-warrior \
    ${TOPDIR}/../layers/meta-balena-zybo-z7-20 \
    ${TOPDIR}/../layers/oe-meta-rust \
    "